<!DOCTYPE html>
<html>
    <head>
      <title>Ben's PaaS Test Website</title>
      {% block meta_content %}
      {% endblock %}
    </head>
    <div class="NavigationLinks">
      <ul>
        <li><a href="/start_job">Start Job</a></li>
        <li><a href="/results">Results</a></li>
        <li><a href="/expert">Expert Parameters</a></li>
      </ul>
    </div>
    <body>
        {% block body_content %}
        {% endblock %}
    </body>
</html>
