{% extends "base.html" %}

{% block body_content %}
    <h1>Expert Parameters</h1>
    <form action="/expert_parameters_submit" method="get">
        <label for="notebook_branch_name">Notebook project branch name:</label>
        <input type="text" id="notebook_branch_name" name="notebook_branch_name" value="{{notebook_branch_name}}"/>
        <br>
        <label for="latest_report_url">URL for latest report (download link):</label>
        <input type="text" id="latest_report_url" name="latest_report_url" value="{{latest_report_url}}"/>
        <br>
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}
