{% extends "base.html" %}

{% block meta_content %}
<meta http-equiv="refresh" content="10" />
{% endblock %}

{% block body_content %}
    <h1>Analysis Results</h1>
    <p>results displayed here, most recently triggered job id: <b>{{job_id}}</b><br>page refreshed at {{page_refreshed_ts}}</p>
    <p>download latest (successful) pipeline report <a href="{{latest_report_url}}">from here</a></p>
    <table style="width:100%">
      <tr>
        <th>ID</th><th>Created At</th><th>Status</th>
      </tr>
      {% for pipeline in pipelines %}
      <tr>
        <td>
        {% if pipeline['id'] == job_id %}
           <b>{{pipeline['id']}}</b>
        {% else %}
           {{pipeline['id']}}
        {% endif %}
        </td>
        <td>{{pipeline['created_at']}}</td><td>{{pipeline['status']}}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}
